@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}

.ql-editor {
  font-size: 1.05rem;
}
.ql-toolbar {
  border-radius: 10px 10px 0 0 !important;
}

.ql-container {
  border-radius: 0 0 10px 10px !important;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #504e5c;
}

/* Headings */
.post-content h3 {
  font-size: 1.5em;
  margin-top: 1.5em;
  color: #333;
}

/* Ordered List */
.post-content ol {
  padding-left: 20px;
  margin-bottom: 1em;
}

/* List Items */
.post-content ol li {
  margin-bottom: 0.5em;
  color: #555;
}

/* Code Blocks */
.post-content pre {
  background-color: #6c6c6c;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 24px;
  white-space: pre-wrap;
}

.post-content pre code {
  font-family: "Source Code Pro", monospace;
}

/* Inline Code */
.post-content code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.95em;
  color: #c7254e;
}

/* Links */
.post-content a {
  color: #1e90ff;
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

/* Unordered List */
.post-content ul {
  padding-left: 20px;
  margin-bottom: 1em;
}

/* List Items */
.post-content ul li {
  margin-bottom: 0.5em;
  color: #555;
}

/* Blockquote */
.post-content blockquote {
  margin: 1em 0;
  padding: 10px 20px;
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  color: #666;
  font-style: italic;
}

/* Miscellaneous */
.post-content strong {
  color: #020d01;
}

/* Dark Theme */

/* Headings */
.dark .post-content h3 {
  font-size: 1.5em;
  margin-top: 1.5em;
  color: #f0f0f0;
}

/* Ordered List */
.dark .post-content ol {
  padding-left: 20px;
  margin-bottom: 1em;
}

/* List Items */
.dark .post-content ol li {
  margin-bottom: 0.5em;
  color: #cccccc;
}

/* Code Blocks */
.dark .post-content pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 24px;
  white-space: pre-wrap;
}

.dark .post-content pre code {
  font-family: "Source Code Pro", monospace;
}

/* Inline Code */
.dark .post-content code {
  background-color: #444444;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.95em;
  color: #ff79c6;
}

/* Links */
.dark .post-content a {
  color: #1e90ff;
  text-decoration: none;
}

.dark .post-content a:hover {
  text-decoration: underline;
}

/* Unordered List */
.dark .post-content ul {
  padding-left: 20px;
  margin-bottom: 1em;
}

/* List Items */
.dark .post-content ul li {
  margin-bottom: 0.5em;
  color: #cccccc;
}

/* Blockquote */
.dark .post-content blockquote {
  margin: 1em 0;
  padding: 10px 20px;
  background: #3a3a3a;
  border-left: 5px solid #555555;
  color: #aaaaaa;
  font-style: italic;
}

/* Miscellaneous */
.dark .post-content strong {
  color: #78d600;
}
